.titleWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  transform: scale(0.6);
  transform-origin: center center;
  width: 100%;
}

.wrapper {
  background: #FFFCF5;
  min-height: 100vh;
  padding: 30px 60px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
  font-size: 1.5rem;
}

.form label {
  color: #000;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.form input {
  color: #000;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.form button {
  margin-top: 1rem;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
