.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', sans-serif;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-top: 30px;
  border-left: 5px solid #374375;
}

.summary p {
  margin: 5px 0;
  font-size: 20px;
  color: #333;
}

.totalHighlight {
  color: #d32f2f;
  font-weight: bold;
  font-size: 20px;
}

.vueltoHighlight {
  color: #2e7d32;
  font-weight: bold;
  font-size: 20px;
}

.label {
  display: block;
  font-family: 'Mate SC', serif;
  font-size: 25px;
  color: #374375;
  margin-bottom: 10px;
  font-weight: 400;
}

.select, .input {
  width: 100%;
  padding: 12px;
  border: 2px solid #374375;
  border-radius: 6px;
  font-size: 16px;
  background-color: white;
  transition: all 0.3s ease;
  color: #000;
}

.input::placeholder {
  color: #999;
  opacity: 1;
}

.input:disabled, .select:disabled {
  background-color: #ececec;
  border-color: #ccc;
  color: #888;

}

.gridFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
  width: 100%;
}

.errorText {
  color: #d32f2f;
  font-size: 13px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  transition: all 0.3s ease;
}