.container {
  padding: 20px;
  max-width : 1200px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
 padding: 30px;
 margin: 40px auto;
 width: 95%;
}

.title {
  color: #374375;
  font-size: 25px;
  text-align: center;
  margin-bottom: 35px;
  font-family: 'Open Sans', sans-serif;
}

.table {
  width: 100%;
  color: #000;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.headerRow th {
  background-color: #374375;
  color: white;
  padding: 12px;
  text-align: left;
}

.row td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.resumenBox {
  background: #f8faff;
  color: #000;
  border: 2px solid #374375;
  padding: 15px;
  border-radius: 8px;
  width: 400px;
  margin-left: auto;
}

.resumenItem {
  font-size: 14px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.resumenTotal {
  font-size: 18px;
  font-weight: bold;
  color: #374375;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 5px;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 30px;
}