.wrapper {
  background: #FFFCF5;
  min-height: 100vh;
  padding: 30px 60px;
}

.titleWrapper {
  display: flex;
    justify-content: center;
    margin-bottom: 24px;
    transform: scale(0.6);
    transform-origin: center center;
    width: 100%;
}
.mainContent {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
}

.form input {
  color: #000;
  padding: 0.5rem;
  font-size: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.buttonContainer {
  display: flex;
  gap: 16px;
  margin-top: 24px;

  justify-content: space-between;
}
