.container {
  display: flex;
  color: #000;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.titleWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
    transform: scale(0.6);

}
.titleWrapper :global(h2),
.titleWrapper :global(h1) {
  font-size: 25px;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.formCard {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 25px;
}

.input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #374375;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 10px;
}