/* *{
    margin: 0;
    padding: 0;
} */

.body{
    width: auto;
    height: auto;
    flex-shrink: 0;
    background: #FFFCF5;
    /* margin: 0;
    padding: 0; */
    
}
.header{
    display: flex;
    width: auto;
    height: auto;
    flex-shrink: 0;
    background: #374375;
    color: #FFFCF5;
    font-family: "Mate SC";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}
.main{
    width: auto;
    height: auto;
    flex-shrink: 0;
    background: #FFFCF5;
}
.footer{
    width: auto;
    height: 77px;
    flex-shrink: 0;
    background: #374375;
} 

.hotelpremier {
  color: #FFFCF5;
  font-family: "Mate SC", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}