.form {
  max-width: 400px;
  margin: 80px auto;
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.field {
  display: flex;
  color: #000;
  flex-direction: column;
}

.field label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

.field input {
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.2s;
}

.field input:focus {
  outline: none;
  border-color: #0070f3;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.button {
  margin-top: 8px;
}
.home {
  background-color: #FFFCF5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleWrapper {
  font-size: 24px;
  display: flex;
  margin: 0;
  padding: 0;
  white-space: normal;
  word-break: normal;
  transform: scale(0.6);
  width: 100%;
}