.container {
  max-width: 900px;
  margin: 0 auto;
}

.formCard {
  background: white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}
.titleWrapper {
  width: 100%;
  display: flex;
  justify-content: center; /* Lo centra horizontalmente */
  align-items: center;
  margin-bottom: 10px;
}
.titleWrapper :global(h2),
.titleWrapper :global(h1) {
  font-size: 35px !important;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}
 .localErrorList {
   background-color: #fff5f5;
   border-radius: 8px;
   padding: 15px;
   margin-top: 20px;
   border: 1px solid #feb2b2;
 }

 .errorText {
   color: #c53030;
   font-size: 13px;
   font-weight: 600;
   margin: 5px 0;
   font-family: sans-serif;
   text-transform: uppercase;
 }
 .label {
   font-size: 12px;
   font-weight: bold;
   margin-bottom: 4px;
   color: #333;
   display: block;
 }
.sectionTitle {
  font-weight: 700;
  color: #374375;
  margin: 30px 0 15px 0;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}


.verticalFields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field label {
  font-size: 12px;
  font-weight: 600;
  color: #555;
  margin-left: 2px;
}

.gridDir {
  display: grid;
  grid-template-columns: 2fr 1fr 0.8fr 0.8fr;
  gap: 15px;
}

.input {
  padding: 12px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.2s;
}

.input:focus {
  border-color: #000;
  outline: none;

}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 40px;
}